body {
    overflow: hidden;
    background-image:repeating-radial-gradient(farthest-side at 70% 50%,#b3a, #f00 5%, #fff 15%) ;
    
}
.secret-link {
position: fixed;
top:1.5em;
right: 16em;
text-decoration:none;
    color:#c3a;
    text-shadow: 0.1em 0.1em 0.1em #5f4699;
    font-weight: bold;
    transition: all 0.5s;

}

#navbar {
    background-color: aquamarine;
    display: flex;
    justify-content: flex-end;
    gap: 2em;
    padding-top: 1em;
    padding-bottom: 1em;
}

#main {
display:flex;

    background: white;
    width: 40em;
    height: 30em;
    justify-self: center;
    align-self: anchor-center;
    border-radius: 0.5em;
    box-shadow: 0.3em 0.3em 1em 0;
}

.nav-link a{
    text-decoration:none;
    color:#c3a;
    text-shadow: 0.1em 0.1em 0.1em #5f4699;
    font-weight: bold;
}
.nav-link a:hover {
    text-decoration: underline;
    color:rgb(56, 101, 223)
}
#left-col {
    width: 50%;
}
right-col {
    width: 50%;
}

.stylish {
    transition:all 0.3s
}

.game-container{
 
display:flex;

    background: white;
    width: 40em;
    height: 30em;
    justify-self: center;
    align-self: anchor-center;
    border-radius: 0.5em;
    box-shadow: 0.3em 0.3em 1em 0;
}


