body {
    overflow: hidden;
}
.secret-link {
position: fixed;
top:1.5em;
right: 16em;
text-decoration:none;
    color:#c3a;
    text-shadow: 0.1em 0.1em 0.1em #5f4699;
    font-weight: bold;
}

#navbar {
    background-color: aquamarine;
    display: flex;
    justify-content: flex-end;
    gap: 2em;
    padding-top: 1em;
    padding-bottom: 1em;
}

#main {
background-image:repeating-radial-gradient(farthest-side at 70% 50%,#b3a, #f00 5%, #fff 15%) ;
display:flex;
height: 100%;
}

.nav-link a{
    text-decoration:none;
    color:#c3a;
    text-shadow: 0.1em 0.1em 0.1em #5f4699;
    font-weight: bold;
}
.nav-link a:hover {
    text-decoration: underline;
    color:rgb(56, 101, 223)
}
#left-col {
    width: 50%;
}
right-col {
    width: 50%;
}